<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Social analitic</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <link href="static/css/main_check_word.css" rel="stylesheet">

    <!-- jQuery Version 1.11.0 -->
    <script src="static/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.js"></script>

    <script src="static/js/main_check_word.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>

<body>

    <div class ="container" style="display:flex;flex-direction:row;">
        <div class ="container0" style="flex-direction:column;margin:5px;"></div>
        <div class ="container1" style="flex-direction:column;margin:5px;"></div>
        <div class ="container2" style="flex-direction:column;margin:5px;"></div>
        <div class="result" style="margin:5px;flex-direction:column;">
            <div class="result-text" style="margin:5px;color:red;flex-direction:row;"></div>
            <div id="graphic" style="flex-direction:row; min-width: 500px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
    </div>
    <button class="btn send-checkbox">Узнать результат!</button>

    <footer>
        <br>
    </footer>


</body>

</html>
